p {
  margin: 0;
  padding-bottom: 25px;
}

.page {
  margin: 0;
  background-color: #2A2C2F;
  color: white;
  font-family: "Inter";
  box-sizing: border-box;
}

.header {
  position: relative;
  max-height: 70px;
  max-width: 270px;
  /*margin: 0;*/
  padding: 34px 0 0 505px;
}

.header__logo {
  display: flex;
  margin: 0;
  padding: 0px 119px 38px 119px;
}

.logo__blue-square {
  position: relative;
  margin: 0;
  background-color: #0278FE;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  z-index: 0;
}

.logo__black-line-hor {
  position: absolute;
  background-color: #2A2C2F;
  width: 32px;
  height: 2px;
  margin-top: 6px;
  z-index: 1;
}

.logo__black-line-ver {
  position: absolute;
  background-color: #2A2C2F;
  width: 2px;
  height: 26px;
  margin: 6px 19px 0 11px;
  z-index: 1;
}

.header__title {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 800;
  align-self: center;
}

.lead {
  /*margin: 0;*/
  max-width: 984px;
  /*height: 983px;*/
  padding: 91px 0 0 148px;
}

.lead__title {
  max-width: 794px;
  /*height: 200px;*/
  padding: 0 95px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  max-width: 720px;
  /*height: 72px;*/
  padding: 32px 132px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 100%;
  max-width: 984px;
  padding-top: 64px;
  filter: grayscale(100%);
}

.intro {
  max-width: 1017px;
  /*height: 516px;*/
  padding: 92px 0 0 148px;
}

.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}

.intro__quote {
  margin: 0;
  max-width: 722px;
  /*height: 136px;*/
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  padding-top: 40px;
}

.intro__quote-auth {
  max-width: 720px;
  /*height: 34px;*/
  margin-top: -24px;
  font-size: 24px;
  text-align: end;
}

.intro__text {
  padding-top: 32px;
  max-width: 720px;
  /*height: 182px;*/
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.photo-grid {
  /*margin: 0;*/
  padding-top: 92px;
  padding-left: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr /*284px*/);
  gap: 16px;
  max-width: 1200px;
}

.photo-grid__item {
  width: 100%;
  max-width: 284px;
  /*height: 213px;*/
}

.places {
  margin: 0;
  padding: 92px 0 0 145px;
  max-width: 987px;
}

.place {
  display: grid;
  max-width: 984px;
  grid-template-columns: 1fr 1.05fr /*460px 484px*/;
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 35px;
}

.place__website {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: auto;
}

.place__title {
  max-width: 460px;
  /*height: 152px;*/
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}


.place__image {
  width: 100%;
  /*height: 460px;*/
  max-width: 460px;
  padding-bottom: 48px;
}

.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  max-width: 484px;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  max-height: max-content;
  background-color: #0278FE;
  border-radius: 4px;
}

.frame:hover {
  background-color: #0063D2;
  cursor: pointer;
}

.frame__paragraph {
  /*color: white;*/
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding: 13px 20px;
}

.cover {
  box-sizing: border-box;
  padding-left: 48px;
  padding-top: 32px;
  padding-bottom: 92px;
  max-width: 1184px;
  max-height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;

}

.cover__background {
  width: 100%;
  
}

.cover__overlay {
  max-height: 740px;
  max-width: 1184px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  background: #2A2C2F;
  opacity: .3;
  z-index: 1;
}

.cover:hover {
  opacity: .8;
}

.group {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  text-align: center;
  align-items: center;
}

.group__title {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.group__subtitle {
  margin: 0;
  padding: 32px 0;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 24px /*531px*/;
  max-width: 1280px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

@media screen {
  
}