p {
  margin-top: 0;
}

.page {
  background-color: #2A2C2F;
  color: white;
  font-family: "Inter";
}

.header {
  position: relative;
  height: 70px;
  width: 270px;
  margin: 0;
  padding: 34px 505px 0 ;
}

.header__logo {
  display: flex;
  margin: 0;
  padding: 0px 119px 38px 119px;
}

.logo__blue-square {
  position: relative;
  margin: 0;
  background-color: #0278FE;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  z-index: 0;
}

.logo__black-line-hor {
  position: absolute;
  background-color: #2A2C2F;
  width: 32px;
  height: 2px;
  margin-top: 6px;
  z-index: 1;
}

.logo__black-line-ver {
  position: absolute;
  background-color: #2A2C2F;
  width: 2px;
  height: 26px;
  margin: 6px 19px 0 11px;
  z-index: 1;
}

.header__title {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 800;
  align-self: center;
}

.lead {
  margin: 0;
  width: 984px;
  height: 983px;
  padding: 91px 148px 0;
}

.lead__title {
  width: 794px;
  height: 200px;
  padding: 0 95px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  width: 720px;
  height: 72px;
  padding: 32px 132px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 615px;
  padding-top: 64px;
  /*background: #000000;*/
  /*mix-blend-mode: hue;*/
  filter: grayscale(100%);
}

.intro {
  margin: 0;
  width: 1017px;
  height: 516px;
  padding: 92px 0 0 148px;
}

.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}

.intro__quote {
  margin: 0;
  width: 722px;
  height: 136px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  padding-top: 40px;
}

.intro__quote-auth {
  width: 720px;
  height: 34px;
  margin-top: -24px;
  font-size: 24px;
  text-align: end;
}

.intro__text {
  padding-top: 32px;
  width: 720px;
  height: 182px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.photo-grid {
  margin: 0;
  padding: 92px 18px 0 18px;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  gap: 16px;
}

.photo-grid__item {
  width: 284px;
  height: 213px;
}

.places {
  margin: 0;
  padding: 92px 0 0 145px;
  width: 987px;
}

.place {
  display: grid;
  width: 984px;
  grid-template-columns: 460px 484px;
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 35px;
}

.place__website {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.place__title {
  width: 460px;
  height: 152px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}


.place__image {
  height: 460px;
  width: 460px;
  padding-bottom: 48px;
}

.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  max-height: max-content;
  background-color: #0278FE;
  border-radius: 4px;
}

.frame:hover {
  background-color: #0063D2;
  cursor: pointer;
}

.frame__paragraph {
  /*color: white;*/
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding: 13px 20px;
}

.cover {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.group {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  text-align: center;
  align-items: center;
}

.group__title {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.group__subtitle {
  margin: 0;
  padding: 32px 0;
}

.cover__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2A2C2F;
  opacity: .3;
}

.cover:hover {
  opacity: .8;
}

.cover__background {
  z-index: 0;
}

.footer {
  display: flex;
  margin: 0;
  padding: 92px 0 24px;
  justify-content: center;
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

@media screen {
  
}