.group__subtitle {
    margin: 0;
    padding: 0;
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 1.2;
}

.group__subtitle:nth-child(2){
  padding-top: 32px;
}

.group__subtitle:nth-child(4){
  padding-bottom: 32px;
}

@media screen and (max-width: 544px) {
    .group__subtitle {
      font-size: .87rem;
    }
}
